<% if controller.class == StaticPagesController and controller.action_name == 'home' %>
	<div class="span4 feed-post">
		<span class="content">
			<h3 style="text-align: center"><%= post.title %></h3><br/>
			<%= wrap(post.content) %>
		</span>
		<span class="timestamp">
			Posted <%= time_ago_in_words(post.created_at) %> ago.
		</span>
		<% if current_user?(post.user) %>
			<%= link_to "delete", post, method: :delete,
										data: { confirm: "Are you sure?" },
										title: post.title %>
		<% end %>
		<ol class="microposts">
			<% post.microposts[0,2].each do |micropost| %>
				<%= render micropost %>
			<% end %>
		</ol>
		<div class="pagination-centered">
			<%= link_to "See More", post_url(post), class: "btn btn-large btn-primary" %>
		</div>
	</div>
<% else %>
	<li>
		<span class="content">
			<h3 style="text-align: center"><%= post.title %></h3>
			<%= wrap(post.content) %>
		</span>
		<span class="timestamp">
			Posted <%= time_ago_in_words(post.created_at) %> ago.
		</span>
		<% if current_user?(post.user) %>
			<%= link_to "delete", post, method: :delete,
										data: { confirm: "Are you sure?" },
										title: post.title %>
		<br/>
		<div class="pagination-centered">
			<%= link_to "See Post", post_url(post), class: "btn btn-large btn-primary" %>
		</div>
		<% end %>
	</li>
<% end %>